@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    background: #345ca8;
    width: 2px;
    height: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.5); /* Transparent white (adjust alpha channel as needed) */
    filter: blur(5px); /* Apply a blur effect on hover (adjust blur radius as needed) */
}

::-webkit-scrollbar-track {
}

::-webkit-scrollbar-thumb {
    border-radius: 20px;
    width: 2px;
    height: 10px;
}
